{% from "_macros.xml.j2" import render_document_standard_attributes, render_field, render_generated_types, render_synonym %}
<?xml version="1.0" encoding="utf-8"?>
<MetaDataObject xmlns="http://v8.1c.ru/8.3/MDClasses" xmlns:app="http://v8.1c.ru/8.2/managed-application/core" xmlns:cfg="http://v8.1c.ru/8.1/data/enterprise/current-config" xmlns:cmi="http://v8.1c.ru/8.2/managed-application/cmi" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:lf="http://v8.1c.ru/8.2/managed-application/logform" xmlns:style="http://v8.1c.ru/8.1/data/ui/style" xmlns:sys="http://v8.1c.ru/8.1/data/ui/fonts/system" xmlns:v8="http://v8.1c.ru/8.1/data/core" xmlns:v8ui="http://v8.1c.ru/8.1/data/ui" xmlns:web="http://v8.1c.ru/8.1/data/ui/colors/web" xmlns:win="http://v8.1c.ru/8.1/data/ui/colors/windows" xmlns:xen="http://v8.1c.ru/8.3/xcf/enums" xmlns:xpr="http://v8.1c.ru/8.3/xcf/predef" xmlns:xr="http://v8.1c.ru/8.3/xcf/readable" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.20">
    <Document uuid="{{ context.document_uuid }}">
        <InternalInfo>
{{ render_generated_types(context.generated_types) }}
        </InternalInfo>
        <Properties>
            <Name>{{ context.document_name }}</Name>
{{ render_synonym(context.synonym) }}
            <Comment></Comment>
            <UseStandardCommands>true</UseStandardCommands>
            <Numerator/>
            <NumberType>String</NumberType>
            <NumberLength>{{ context.number_length }}</NumberLength>
            <NumberAllowedLength>Variable</NumberAllowedLength>
            <NumberPeriodicity>Nonperiodical</NumberPeriodicity>
            <CheckUnique>true</CheckUnique>
            <Autonumbering>true</Autonumbering>
            <Characteristics/>
            <BasedOn/>
            <InputByString>
                <xr:Field>Document.{{ context.document_name }}.StandardAttribute.Number</xr:Field>
            </InputByString>
            <CreateOnInput>Use</CreateOnInput>
            <SearchStringModeOnInputByString>Begin</SearchStringModeOnInputByString>
            <FullTextSearchOnInputByString>DontUse</FullTextSearchOnInputByString>
            <ChoiceDataGetModeOnInputByString>Directly</ChoiceDataGetModeOnInputByString>
            <DefaultObjectForm/>
            <DefaultListForm/>
            <DefaultChoiceForm/>
            <AuxiliaryObjectForm/>
            <AuxiliaryListForm/>
            <AuxiliaryChoiceForm/>
            <Posting>Allow</Posting>
            <RealTimePosting>Allow</RealTimePosting>
            <RegisterRecordsDeletion>AutoDeleteOnUnpost</RegisterRecordsDeletion>
            <RegisterRecordsWritingOnPost>WriteSelected</RegisterRecordsWritingOnPost>
            <SequenceFilling>AutoFill</SequenceFilling>
            <RegisterRecords>
{% for register_name in context.register_records %}
                <xr:Item xsi:type="xr:MDObjectRef">AccumulationRegister.{{ register_name }}</xr:Item>
{% endfor %}
            </RegisterRecords>
            <PostInPrivilegedMode>true</PostInPrivilegedMode>
            <UnpostInPrivilegedMode>true</UnpostInPrivilegedMode>
            <IncludeHelpInContents>false</IncludeHelpInContents>
            <DataLockFields/>
            <DataLockControlMode>Managed</DataLockControlMode>
            <FullTextSearch>Use</FullTextSearch>
            <ObjectPresentation/>
            <ExtendedObjectPresentation/>
            <ListPresentation/>
            <ExtendedListPresentation/>
            <Explanation/>
            <ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
            <DataHistory>DontUse</DataHistory>
            <UpdateDataHistoryImmediatelyAfterWrite>false</UpdateDataHistoryImmediatelyAfterWrite>
            <ExecuteAfterWriteDataHistoryVersionProcessing>false</ExecuteAfterWriteDataHistoryVersionProcessing>
        </Properties>
        <ChildObjects>
{% for attribute in context.attributes %}
{{ render_field(attribute, include_fill_from=true, include_use=false) }}
{% endfor %}
{% for section in context.tabular_sections %}
            <TabularSection uuid="{{ section.uuid }}">
                <InternalInfo>
{{ render_generated_types(section.generated_types) }}
                </InternalInfo>
                <Properties>
                    <Name>{{ section.name }}</Name>
{{ render_synonym(section.synonym) }}
                    <Comment/>
                    <ToolTip/>
                    <FillChecking>{{ section.fill_checking }}</FillChecking>
                </Properties>
                <ChildObjects>
{% for attribute in section.attributes %}
{{ render_field(attribute, include_fill_from=false, include_use=false) }}
{% endfor %}
                </ChildObjects>
            </TabularSection>
        {% endfor %}
        </ChildObjects>
    </Document>
</MetaDataObject>
